---
users:
- name: 'n0emis'
  state: 'present'
  public_key: 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQC8xqVakxJ+AwcIrS/wyL03N++pE09epwMFlIMXWvlpwwEp1J/0H7nygwxk/9LIZdabs/ETWn0s8oHAkc7YR1c6ajSTCDiZEYATAWt7t8t4Gw/80c8u8T50lIqmiDEEVbOVv3Vta/pAN4hAUp9U5DpYCkQbvF+NKKcK3Yp8d9usNC6ohqgTK+IGAEdMhvpbbNppDMXoWHuynBzUX7TS6ST6yEr0tD+CBbCpbfcMuwTI3lNtfywEVpuFaeHqDZx2QDrEX4bg0dRKgQstbXYdqmBfnOiBpUr8Wyl8U1J24rN+E07pBw/8KDGWbVg19/Ex8o4ht/p5voUfKVjD/DwWXTLntBirjfAgQAm4GH/qP4x3zNiTtlYlQFbXSk6VEVrTrxCB5rTWvGnhg31tk5P3YwvagDmGABazY5s/8tlttSc1yWBctWQJCjxSqcCLekxG4D1rVuGKCKOZgflQ9QFdQlKycInPBek3zi0i3GYkE1YnNFye5ggOnxT8qGuKjfdtZI9qvMJQO8lbEDzbYQvNns1V/k4ZobiihYwrG5TJUzZFEpMYetDK6tI8BRU11d+ja0jWzguj5/7wc0nrr/BiZ8FkAr2fZ60j2aI5kG0s3qjbrQbB/RXaGP9hRU0+480+IokNJJIcjv5iwH5ophdrjC8GH4So2kPPt0NXob1yNysdjw== simeon@noemis.me'

ansible_python_interpreter: "/usr/bin/python3"


synapse_db_password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          61346635336230306238343032373431623234313535636334623839393130626334383930323539
          3939626333663333656630613939356634346534663266640a626438333866333462393462613330
          37303831646230313431633135313834393666373161313466353833643738356439303534353337
          6530623533636630370a396532306137303034386634313136616330386166313732663565326635
          65616133343362653231343532636330383732313835666136333838623935303538
synapse_registration_secret: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          66613837373962363535306561323762353938656539303564356137383262633064643333363936
          6363393230313339386138653530306239623737343363630a623138313665333339323139303136
          31663739613734366465353937383330663561353336636231643730366135353838303666353835
          6331363336623139660a336437393431303166623938636637343931643235613061396635336439
          32373239376265373364643030393331393436363932383166393636316530626461366466366162
          66356630343930303938643761313237613062626362396233376536343632383132333439336239
          623837313538663162313032383464653035
synapse_macaroon_secret: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          39346666306434303838383239613163656163646632356438313030383561336136343833356435
          3939623938343164643061653836636136366265623464650a333339666637396431393135613634
          30366635613863633565623435356563353162346639626666333535373265323936346361626162
          6534643239333934660a376661393932373137626665323136303838656535356364373931653939
          36366235363363323561316366653166366134613765333164616663386166316562663730333036
          64316231613463336564623764346430363336623238343030333333616239663734303030383264
          353461336237653232623032386362663739
synapse_form_secret: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          39333332623165653365383330343162646437313131623237396239336533366365623864323766
          3238633464393063336433653235383763343862656131620a636339366638663463393035376634
          30373261383337326134626337633433316630636331333237363964643135333865383630623564
          3037633833333238610a636333373031303937306363323933313961653636613762613337393863
          63353566373164303666613338396435316662376338303964653937346239393938353437636139
          61366133346363656165353262636236353535316437376363323138303534323033346636336566
          623030386337656539363061393131613930
synapse_signing_key: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          36663164346334663833393539323532653530633732346364626432346234313733626565343131
          3138383865666363353836303737306232373633636461650a366138383565393863636339353636
          36303030326134363937653439383264306166363133636230356132306662393936383730646538
          3261643935323632610a666637643636363434313762663934383337353561306639393736313233
          66366331396233386631633131666363346534643236336263303537633663386430326336323237
          31386365653562656237663932323861383030393133663065383535613666376465303366623462
          646663386163383765653730666364626633


murmur_register_password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          33626235313034346238353765666266306566663930323930393635383332343166616133653364
          6531666533653439343233323134363366313635623030640a363439633263333562633937336238
          31383235363234663234646535366337363561613661316662346632616336393966623565653666
          3732383861346237640a356666356539313566623864336663383062386339623238626161643064
          37636538353132313530663532386662616635663034666235643330373163353133666130346663
          6266303637623731613832303265616439666233623564646364


pgadmin_password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          36663038393232386137336461386438346230653361663635343738323430623261393866393233
          3862626139366662353963363531636161363162306138320a666535663762323264336666626334
          66646438343735363732663664613135663061353039393962353963323166373262643563363039
          6632633562373631310a363265663033326433373766373936313462656436393662653735306334
          66363930663634633566663033396564383937316163343062366234653138646262


irc_hs_token: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          35666332373932623935643263333161306337623264363061633136323036663139346435306537
          3336656433656335343662386165613865383463646263620a343932376461663162356534333061
          64636164393339373261653839386238626163363461626137323766353135633731336662643134
          3931373837333262620a323239353261383431343433303265633066333132626462383633653565
          34643062653264613462663065643362303733626662383562623133623337626336386139373632
          62616534323638393664343636623565383238313361393935313463643734313862363431356333
          66666432616161306661326430643063363664383430323934366536656133356237633964303931
          39663438316537336431
irc_as_token: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          66363831616365333330346438373735303633393633306563386166306336303533316235333463
          3764343539646539663339373037306234653761666639660a373233623861356263396162373738
          63613136333137323932313936373439393666396132386563373932636633323737633937623532
          3236376363343537370a633934643433343564333565306338346638643763333233326532323334
          64646230663139653038346536346662303834636335393264356433366264323533323164666630
          62333333396336306666633435353862613332613133303161353835316632613137316366383334
          32653433313439396231383465383061613638333061653839386333326364356362613863623462
          62623237363737306633

pretix_db_password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          39333366623030326132316139373035386466316539326163343339666138373036666662613037
          6233613865363530623264356237333439363337353338380a383561306463623535643635633362
          38313761336434633436396533353836313530613934636432346465393765333932333736663333
          3639646430656264640a636563626437616638393339383132656238343365323937666438326133
          34393461393134306230336234303030653763336563653130353661356639636661

mail_password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          30633337313638363166623565633564383732356339666230663464346639323463313362346232
          6535366336393263353763616138616361306431623864340a333962366366623531636335616134
          34656236653863303832373964663164626636643634653539373734616638353430643765306532
          3630366230366430310a663963643964303431616462333334326364313735336436353335323465
          66353639663637373031356536633438643436656536633164303831343862376164373264316231
          32333264366137316633373331636432383336383736396437306631336362396363616237386438
          313361343437626231326231643434313036

maubot_unshared_secret: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          62663966363261393637343132646634636164376539333264323534366434363963313266393265
          3832386264623237323934383334623462386663346133390a386638616335376339633462653564
          33383239343839653832643238376330353562333632393333623236336462666536356339613235
          6337656433643566370a653231383930336665653734393139363233616232643833393535623761
          38343234373331653431353962353462616537663961653361386563376637313439373766386531
          32653337303962656635313765393933323330643631636564316234393139346635383436613631
          62396561393365663066663331386433313864383038646162396466373162626631643438356333
          34393863613638316435

maubot_admin_password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          65323666393664613965343530633533396136383730303031626532393932643838376233643039
          3536633432333239396236313464626434396630343462310a316136616633356366303035656265
          64643337663734393536656338646232393933383065653137353834326233396239346333363032
          3836636333616236330a353330323762393936633666333565363930653362363735653238616165
          38333835666339336462336364623936383339633736613765303230666262656162366563346461
          3232326335313031373161323765363332623961666332393762

partyline42_at_chaossocial_access_token: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          38393334373335376164373765663566303238643861666636373164323933616239353866653830
          6431316465383033373338663838343639313963373737630a643862623531373538376538393333
          35363139313166393962303330663965343931623364386433613235386136646630663264633861
          6665336334316365660a326663366531613562383631386366653236376364356233396130666436
          34396237646265363136643266363566306637623566656164316631306530353434633261626537
          6464383037303537356265643334363536343536633462633937

