[submodule "roles/jnv.unattended-upgrades"]
	path = roles/jnv.unattended-upgrades
	url = https://github.com/jnv/ansible-role-unattended-upgrades
[submodule "roles/base"]
	path = roles/base
	url = https://github.com/n0emis/ansible-role-base
[submodule "roles/geerlingguy.php"]
	path = roles/geerlingguy.php
	url = https://github.com/geerlingguy/ansible-role-php
[submodule "roles/geerlingguy.nginx"]
	path = roles/geerlingguy.nginx
	url = https://github.com/geerlingguy/ansible-role-nginx
[submodule "roles/em0lar.pretix"]
	path = roles/em0lar.pretix
	url = https://github.com/em0lar/ansible-role-pretix.git
[submodule "roles/geerlingguy.postgresql"]
	path = roles/geerlingguy.postgresql
	url = https://github.com/geerlingguy/ansible-role-postgresql.git
[submodule "roles/geerlingguy.redis"]
	path = roles/geerlingguy.redis
	url = https://github.com/geerlingguy/ansible-role-redis.git
[submodule "roles/systemli.mumble"]
	path = roles/systemli.mumble
	url = https://github.com/systemli/ansible-role-mumble.git
[submodule "roles/geerlingguy.nodejs"]
	path = roles/geerlingguy.nodejs
	url = https://github.com/geerlingguy/ansible-role-nodejs.git
[submodule "roles/n0emis.synapse"]
	path = roles/n0emis.synapse
	url = https://github.com/n0emis/ansible-role-synapse
[submodule "roles/em0lar.traefik"]
	path = roles/em0lar.traefik
	url = https://github.com/em0lar/ansible-role-traefik.git
[submodule "roles/em0lar.oh-my-zsh"]
	path = roles/em0lar.oh-my-zsh
	url = https://git.labcode.dev/ansible_roles/oh-my-zsh.git
[submodule "roles/systemli.coturn"]
	path = roles/systemli.coturn
	url = https://github.com/systemli/ansible-role-coturn
[submodule "roles/chaos-jetzt.dokuwiki"]
	path = roles/chaos_jetzt.dokuwiki
	url = https://github.com/chaos-jetzt/ansible-role-dokuwiki.git
[submodule "roles/mrlesmithjr.openldap"]
	path = roles/mrlesmithjr.openldap
	url = https://github.com/mrlesmithjr/ansible-openldap
[submodule "roles/em0lar.keycloak"]
	path = roles/em0lar.keycloak
	url = https://github.com/em0lar/ansible-role-keycloak-postgres
[submodule "roles/geerlingguy.java"]
	path = roles/geerlingguy.java
	url = https://github.com/geerlingguy/ansible-role-java.git
[submodule "roles/chaos-jetzt.freescout"]
	path = roles/chaos_jetzt.freescout
	url = https://github.com/chaos-jetzt/ansible-role-freescout.git
[submodule "roles/n0emis.louketo"]
	path = roles/n0emis.louketo
	url = https://git.n0emis.eu/ansible_roles/louketo
[submodule "roles/geerlingguy.docker"]
	path = roles/geerlingguy.docker
	url = https://github.com/geerlingguy/ansible-role-docker
[submodule "roles/chaos_jetzt.venueless"]
	path = roles/chaos_jetzt.venueless
	url = https://github.com/chaos-jetzt/ansible-role-venueless
[submodule "roles/powerdns.pdns"]
	path = roles/powerdns.pdns
	url = https://github.com/PowerDNS/pdns-ansible.git
