server {
    listen 127.0.0.1:81;
    listen [::1]:81;

    server_name _;

    index index.html index.htm;

    location / {
        root   {{ website_path }}/public;
    }

    location ^~/.well-known/ {
        default_type "text/plain";
        root   /var/www;
    }

    location ^~/.well-known/matrix {
        default_type "application/json";
        root   /var/www;
    }
}
