---
- name: do compose magic
  docker_compose:
    project_name: root
    definition:
      version:                        "3"
      services:
        traefik:
          image:                      traefik:v1.7
          restart:                    always
          ports:
            - 80:80
            - 443:443
            - 8080:8080 # The Web UI (enabled by --api)
          networks:
            - web
          volumes:
            - /var/run/docker.sock:/var/run/docker.sock
            - /root/traefik/traefik.toml:/traefik.toml
            - /root/traefik/letsencrypt:/letsencrypt
          container_name:             traefik
        synapse-postgres:
          image:                      postgres:11
          restart:                    unless-stopped
          networks:
            - web
          volumes:
            - postgres-data:/var/lib/postgresql/data
          environment:
           - POSTGRES_PASSWORD={{ synapse_db_password }}
           - POSTGRES_USER=synapse
           - POSTGRES_INITDB_ARGS=--encoding=UTF-8 --lc-collate=C --lc-ctype=C
          container_name:             synapse-postgres

        synapse:
          image:                      matrixdotorg/synapse:latest
          restart:                    unless-stopped
          depends_on:
            - synapse-postgres
          networks:
            - web
          expose:
            - 8008
          volumes:
            - /root/synapse:/data
            - /root/matrix-appservice-irc/appservice-registration-irc.yaml:/irc/appservice-registration-irc.yaml
          labels:
            - "traefik.backend=synapse"
            - "traefik.enable=true"
            - "traefik.frontend=true"
            - "traefik.port=8008"
            - "traefik.frontend.rule=Host:matrix.{{ base_url }}"
            - "traefik.frontend.redirect.regex=https://matrix.{{ base_url }}(/?)$$"
            - "traefik.frontend.redirect.replacement=https://chat.{{ base_url }}/"
            - "traefik.docker.network=web"
          container_name:             synapse

        riot:
          image:                      vectorim/riot-web
          restart:                    unless-stopped
          depends_on:
            - synapse
          networks:
            - web
          expose:
            - 80
          volumes:
            - /root/riot/config.json:/app/config.json
          labels:
            - "traefik.backend=riot"
            - "traefik.enable=true"
            - "traefik.frontend=true"
            - "traefik.port=80"
            - "traefik.frontend.rule=Host:chat.{{ base_url }}"
            - "traefik.docker.network=web"
          container_name:             riot

        homepage:
          image:                      nginx:latest
          expose:
            - 80
          volumes:
            - /root/nginx/html:/usr/share/nginx/html
            - /root/nginx/html_known:/usr/share/nginx/html_known
            - /root/nginx/default.conf:/etc/nginx/conf.d/default.conf
          networks:
            - web
          labels:
            - "traefik.backend=website"
            - "traefik.enable=true"
            - "traefik.frontend=true"
            - "traefik.port=80"
            - "traefik.frontend.rule=Host:{{ base_url }}"
            - "traefik.docker.network=web"
          container_name:             website

        pgadmin:
          image:                      dpage/pgadmin4:latest
          expose:
            - 80
          environment:
            PGADMIN_DEFAULT_EMAIL:    "ca-pgadmin@noemis.me"
            PGADMIN_DEFAULT_PASSWORD: "{{ pgadmin_password }}"
          depends_on:
            - synapse-postgres
          networks:
            - web
          labels:
            - "traefik.backend=pgadmin"
            - "traefik.enable=true"
            - "traefik.frontend=true"
            - "traefik.port=80"
            - "traefik.frontend.rule=Host:pgadmin.{{ base_url }}"
            - "traefik.docker.network=web"
          container_name:             pgadmin

        matrix-appservice-irc:
          image:                      tulir/matrix-appservice-irc:latest
          command:                    node app.js -c config.yaml -p 9995 -f appservice-registration-irc.yaml -u http://0.0.0.0:9995
          expose:
            - 9995
          depends_on:
            - synapse
          networks:
            - web
          volumes:
            - irc-appservice:/app/data
            - /root/matrix-appservice-irc/appservice-registration-irc.yaml:/app/appservice-registration-irc.yaml
            - /root/matrix-appservice-irc/config.yaml:/app/config.yaml
          container_name:             matrix-appservice-irc

        down:
          image:                      nginx:latest
          expose:
            - 80
          volumes:
            - /root/down/html:/usr/share/nginx/html
          networks:
            - web
          labels:
            - "traefik.backend=down"
            - "traefik.enable=false"
            - "traefik.frontend=false"
            - "traefik.port=80"
            - "traefik.docker.network=web"
          container_name:             down

        pretix-database:
          image:                      postgres:9.6-alpine
          container_name:             pretix-database
          environment:
            - POSTGRES_USER=pretix
            - "POSTGRES_PASSWORD={{pretix_db_password}}"
          volumes:
            - pretix-postgres:/var/lib/postgresql/data
          networks:
            - web

        redis:
          image:                      redis:latest
          container_name:             redis
          networks:
            - web

        pretix:
          image:                      registry.git.desti.io/n0emis/pretix:latest
          container_name:             pretix
          depends_on:
            - pretix-database
            - redis
          volumes:
            - /root/pretix:/etc/pretix
            - pretix-data:/data
          networks:
            - web
          labels:
            - "traefik.backend=pretix"
            - "traefik.enable=true"
            - "traefik.frontend=true"
            - "traefik.port=80"
            - "traefik.frontend.rule=Host:pretix.{{ base_url }},tickets.{{ base_url }}"
            - "traefik.docker.network=web"

        murmur:
          image:                      mattikus/murmur:latest
          container_name:             murmur
          ports:
            - 64738:64738/udp
            - 64738:64738
          volumes:
            - /root/murmur/murmur.ini:/etc/murmur.ini
            - /etc/ssl:/etc/ssl
            - murmur-data:/data
          networks:
            - web

      volumes:
        postgres-data:
        synapse-media:
        synapse-uploads:
        irc-appservice:
        pretix-data:
        pretix-postgres:
        murmur-data:

      networks:
        web:
          external:                   true

  register: output
