server {

    listen 81;

    server_name _;

    index index.html index.htm;

    location / {
        root   {{ website_basedir }}/public;
    }

    location ^~/.well-known/ {
        default_type "text/plain";
        root   /var/www;
    }

    location ^~/.well-known/matrix {
        default_type "application/json";
        root   /var/www;
    }
}
