---
- name: install molly-guard
  apt: name=molly-guard state=present
  
- name: configure molly-guard
  copy: dest=/etc/molly-guard/rc
        src=molly-guard
        owner=root group=root mode=0644
